body {
  padding: 0;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

/* xf-news-widget */
.xf-news-widget-header {
  font-size: 24px;
  font-weight: bold;
  background-color: #87CEEB;
  padding: 2px 5px;
}

.xf-news-widget-body {
  padding: 2px 5px;
}

.xf-news-widget-items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.xf-news-widget-item-title {
  font-size: 21px;
}

.xf-news-widget-item-description {
  font-size: 16px;
}

/* xf-country-widget */
.xf-country-widget-header {
  font-size: 24px;
  font-weight: bold;
  background-color: #87CEEB;
  padding: 2px 5px;
}

.xf-country-widget-body {
  padding: 2px 5px;
}
