body {
  padding: 0;
}

.header {
  background: #F8F8FF;
  padding: 0 15px 10px 15px;
  margin-bottom: 20px;
}

.news-link {
  padding: 20px;
  font-size: 21px;
}

.news-title {
  margin-bottom: 30px;
}
